* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100%; */
    background-image: repeating-linear-gradient(45deg, transparent, transparent 34px, #e5f1ec 34px, #e5f1ec 68px);
    background-color: #d1e5d9;
}

main {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 8em;
    padding: 0.5em;
    margin-bottom: 3em;
}

.logo {
    max-width: 150px;
    height: auto;
    margin: 0.2em;
}


.input-div {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

input[type="text"] {
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.3em;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    padding: 0.25em 0.5em;
    box-shadow: 0.4em 0.8em 0.8em rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
}

button:hover {
    border: 3px solid #ffffff;
}

.addteam {
    background-color: green;
}

.addreserve {
    background-color: blue;
}

.kick {
    background-color: red;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.team-page {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 1px black solid;
    padding: 0.5em;
    background-color: #3B4CCA;
    display: none;
}

.showing-pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.search-pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(95, 184, 107, 0.5);
    backdrop-filter: blur(5px);
    margin: 0.5em;
}

.poke-card {
    display: flex;
    flex-direction: column;
    border: 5px solid green;
    border-radius: 0.3em;
    background-color: #E5F1EC;
    width: 170px;
    text-align: center;
    margin: 0.2em;
    padding: 0.6em 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;

}

#team-pokemon {
    display: none;
}

.poke-card img {
    /* Behålla 100% eller ha bestämd stlk på ca 170px? */
    width: 100%;
}
.Teamfull{
    color: #ff0000;
    font-weight: bolder;
}


@media screen and (min-width: 470px) {
    .logo {
        max-width: 250px;
    }

    header {
        margin-bottom: 5em;
    }
}