* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100%; */
    background-image: repeating-linear-gradient(45deg, transparent, transparent 34px, #e5f1ec 34px, #e5f1ec 68px);
    background-color: #d1e5d9;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 8em;
    padding: 0.5em;
    margin-bottom: 3em;
}

.logo {
    max-width: 150px;
    height: auto;
    margin: 0.2em;
}

/* Inputs------------------START */

.input-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}
.search-input {
    padding: 3px;
    width: 120px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.3em;
}
.rename-input{
    padding: 3px;
    width:100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    
}
/* Inputs------------------STOP */

/* Buttons ----------------START */
button {
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.25em 0.5em;
    box-shadow: 0.4em 0.8em 0.8em rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
}

button:hover {
    border: 2px solid #ffffff;
}

.addteam {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-color: #10B010;
    color: white;
}

.addreserve {
    background-color: #296BFE;
    color: #FFCD02;
}

.kick {
    background-color: red;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}
.up {
    width: 25px;
    height: 25px;
    background: url('/styles/images/arrow-up-line.png') no-repeat center;
    background-size: cover;
    border: none;
    box-shadow: none;
}
.down {
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    background: url('/styles/images/arrow-down-line.png') no-repeat center;
    background-size: cover;
    border: none;
    box-shadow: none;


}
/* Buttons -------------------STOP */
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.team-page {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 1px black solid;
    padding: 0.5em;
    background-color: #3B4CCA;
    display: none;
}

.showing-pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.search-pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(95, 184, 107, 0.5);
    backdrop-filter: blur(5px);
    margin: 0.5em;
}

.poke-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    border: 5px solid green;
    border-radius: 0.5em;
    background-color: #E5F1EC;
    width: 170px;
    margin: 0.3em;
    padding: 0.6em 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;

}

#team-pokemon {
    display: none;
}

.poke-card img {
    /* Behålla 100% eller ha bestämd stlk på ca 170px? */
    width: 100%;
}

.landing-image{
    width: 250px;
}
.Teamfull{
    color: #ff0000;
    font-weight: bolder;
}


@media (min-width: 392px) {
    .logo {
        max-width: 250px;
    }

    header {
        margin-bottom: 5em;
    }
    .up {
        background: url('/styles/images/arrow-left-line.png') no-repeat center;
        background-size: cover;
        box-shadow: none;

    
    }
    .down {
        background: url('/styles/images/arrow-right-line.png') no-repeat center;
        background-size: cover;
        box-shadow: none;

    
    }

    .landing-image{
        width: 350px;
    }
}