* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}
main{}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    border: black 1px solid;
    background-color: #3B4CCA;
}

.logo {
    max-width: 65px;
    height: auto;
    margin: 0.2em;
}

.header-buttons {}

.input-div {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100px;
    margin-left:10px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {}

/* .search-page {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 1px black solid;
    padding: 0.5em;
    background-color: #3B4CCA;
    display: none;
} */
.team-page {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 1px black solid;
    padding: 0.5em;
    background-color: #3B4CCA;
    display: none;
}


.showing-searched-pokemon {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-pokemon {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius:0.3em ;
    background-color:#E5F1EC ;
    width: 200px;
    text-align: center;
}

.search-pokemon {
}
.poke-card {
}
.poke-card img {
    width: 150px;
    height: 150px;
}